<div class="container mt-5 mb-5">
    <div class="row row-cols-auto justify-content-center g-5">  
                
        <form method="POST" action="index.php?pg=logCar&act=logCar" enctype="multipart/form-data">
            <center></center>
                <h2>Insira os dados do Login</h2></br>
            </center>
            <center>
                <table class='table'>        
   
                    <tr>
                        <th>Nome</th>
                        <th>Senha</th>
                    </tr>
                    <tr>
                        <th><input type="text" name="nome"></th>
                        <th><input type="password" name="senha"></th>
                    </tr>
                </table>
            <center>
                <button type="submit">Enviar</button>
            </center>
        </form>
    </div>
</div>